<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_webfonts.html") %>
    <link rel="stylesheet" type="text/css" href="../embed.css">
  </head>
  <body>
    <script>
      document.body.classList.add(new URL(window.location).searchParams.get("theme"));
    </script>

    <iowa-widget src="../data/IA_P_2_3_2020.json"></iowa-widget>

    <script src="../embed.js" async></script>
    <%= t.include("partials/_analytics.html", { json: { project: { embedded: true }}}) %>
  </body>
</html>
