<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../embed.css">
    <%= t.include("partials/_webfonts.html") %>
    <base target="_blank">
  </head>
  <body>
    <script>
      var here = new URL(window.location);
      document.body.classList.add(here.searchParams.get("theme"));
    </script>

    <div class="embed-row">
      <president-results-multiple party="Dem" live lineup="supertuesday" src="../data/super_tuesday.json"></president-results-multiple>
      <hr data-theme-exclude="homepage">
      <delegate-total data-theme-exclude="homepage" src="../data/delegates.json" live></delegate-total>
    </div>

    <script src="super-tuesday.js" async></script>
    <%= t.include("partials/_analytics.html", { json: { project: { embedded: true }}}) %>
  </body>
</html>
