<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_webfonts.html") %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../embed.css">
    <base target="_blank">
  </head>
  <body>
    <script>
      var here = new URL(window.location);
      document.body.classList.add(here.searchParams.get("theme"));
    </script>

    <standard-primary live src="../data/TX_S_3_3_2020.json"></standard-primary>

    <president-primary live src="../data/NC_G_3_3_2020.json"></president-primary>

    <script>
      var widget = document.querySelector("standard-primary");
      if (here.searchParams.get("link")) {
        widget.setAttribute("href", here.searchParams.get("link"));
      }
    </script>

    <script src="../embed.js" async></script>
    <%= t.include("partials/_analytics.html", { json: { project: { embedded: true }}}) %>
  </body>
</html>
