@import "../../../css/values.less";

governor-primary {
  display: block;
  
  .footnote {
    font-family: @sans;
    font-size: 0.85em;
    font-style: italic;
    color: var(--secondary);
    margin-top: 5px;
  }

  results-table {
    width: 50%;
  }
}
