<%
  var prefix;
  if (typeof prefix == "undefined") {
    prefix = "";
  }
%>

<footer role="contentinfo">
  <div class="constrained">

    <div class="nav-hed">Results by state</div>

    <div class="state-nav">
    	<% grunt.data.elex.states.forEach(function(s) { %>
    		<div>
    			<a href="<%= prefix %><%= s %>.html">
    				<%= grunt.data.json.strings[s] %>
    			</a>
    		</div>
    	<% }); %>
    </div>

    <div class="credits">
    	<h3>Credits</h3>
    	<p><%= grunt.data.json.chatter["credits"] %></p>
    </div>

    <div class="npr">
      <ul>
        <li><a href="https://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">Terms of Use</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">Privacy</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy#yourchoices" target="_blank">Your Privacy Choices</a></li>
        <li><a href="https://text.npr.org/" target="_blank">Text Only</a></li>
        <li>&copy; 2019 NPR</li>
      </ul>
    </div>
  </div>
</footer>
