<%
  var prefix;
  if (typeof prefix == "undefined") {
    prefix = "";
  }
%>

<footer class="mega-nav" role="contentinfo">
  <div class="constrained">

    <h3 class="more-hed">2020 Election Resources</h3>

    <div class="more-2020 link-block">
      <ul>
        <li><a href="https://www.npr.org/sections/elections/">Latest Election News</a></li>
        <li><a href="https://www.npr.org/2020/02/10/799979293/how-many-delegates-do-the-2020-presidential-democratic-candidates-have">Delegate Tracker</a></li>
        <li><a href="https://apps.npr.org/elections20-primaries/">2020 Election Calendar</a></li>
        <li><a href="https://www.npr.org/series/758097234/election-2020-issue-tracker">Candidate Issue Statements</a></li>
        <li><a href="https://www.npr.org/podcasts/510310/npr-politics-podcast">NPR Politics Podcast</a></li>
        <li><a href="https://www.npr.org/newsletter/politics">Weekly Politics Newsletter</a></li>
      </ul>
    </div>

    <h3 class="state-hed">2020 Primary Election Results</h3>


    <div class="state-nav link-block">
      <% var states = grunt.data.elex.states.map(postal => ({ postal, name: grunt.data.json.strings[postal] })).sort((a, b) => a.name < b.name ? -1 : 1); %>

    	<% states.forEach(function(s) { %>
    		<div>
    			<a href="<%= prefix %><%= s.postal %>.html">
    				<%= s.name %>
    			</a>
    		</div>
    	<% }); %>
    </div>

</footer>

<footer class="more" role="contentinfo">
  <div class="constrained">
    <div class="credits">
      <h3>Credits</h3>
      <p><%= grunt.data.json.chatter["credits"] %></p>
      <p> Source: Electoral results from the AP<span class="page-timestamp"></span>.
    </div>

    <div class="npr">
      <ul>
        <li><a href="https://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">Terms of Use</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">Privacy</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy#yourchoices" target="_blank">Your Privacy Choices</a></li>
        <li><a href="https://text.npr.org/" target="_blank">Text Only</a></li>
        <li>&copy; 2019 NPR</li>
      </ul>
    </div>
  </div>
</footer>
