<%
  var prefix;
  if (typeof prefix == "undefined") {
    prefix = "";
  }
%>
<nav class="elections">
  <div class="row">
    <ul class="primary">
      <li class="npr"><a href="https://npr.org"><img src="<%= prefix %>assets/logo.svg" alt="NPR" /></a></li>
      <li class="election"><a href="https://www.npr.org/sections/elections/"><img src="<%= prefix %>assets/logo-2020-election.svg" alt="2020 Election" /></a></li>
      <li><a href="https://www.npr.org/sections/elections/">News</a></li>
      <li><a href="https://www.npr.org/series/758097234/election-2020-issue-tracker">Issues</a></li>
      <li><a href="https://www.npr.org/podcasts/510310/npr-politics-podcast">Podcast</a></li>
      <li><a href="https://www.npr.org/newsletter/politics">Newsletter</a></li>
    </ul>

    <ul class="secondary">
      <li class="donate"><a href="https://www.npr.org/donations/support">Donate</a></li>
    </ul>
  </div>

  <hr>
</nav>