@import "base";

:root {
  --foreground: black;
  --background: white;
  --accent: @true;
}

body.dark {
  --foreground: white;
  --background: #333;
}

html, body {
  background: transparent;
  color: var(--foreground);
}