<div class="key-grid">
  <div class="label">Less<br>populated</div>
  <div class="label more">More<br>populated</div>

  <% data.keyData.forEach(function(c, i) { %>
    <div class="swatch first <%= i % 2 ? 'even' : 'odd' %>" style="background: <%= c.color %>; opacity: 0.25"></div>
    <div class="swatch" style="background: <%= c.color %>; opacity: 0.5"></div>
    <div class="swatch" style="background: <%= c.color %>; opacity: 0.75"></div>
    <div class="swatch" style="background: <%= c.color %>; opacity: 1"></div>
    <div class="name"><%= c.last %></div>
  <% }); %>
</div>