@import "../../../css/base.less";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.horizontal {
    flex-direction: row;

    @media @mobile {
      flex-direction: column;
    }

    .key {
      order: 1;
      margin-left: 30px;
      margin-bottom: 0;

      @media @mobile {
        order: 0;
        margin-left: 0;
        margin-bottom: 25px;
      }
    }
  }
}

.map {
  margin-bottom: 25px;
  max-width: 100%;
  position: relative;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

path {
  stroke: #bbb;
  fill-opacity: 0.5;
  fill: transparent;
  stroke-width: 1;

  &:hover {
    cursor: pointer;
    stroke-width: 2;
    fill-opacity: 1;
  }

  &.clicked {
    stroke-width: 2;
    stroke: #111;
    fill-opacity: 1;
  }
}

.key {
  margin-bottom: 25px;
}

.name {
  font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  display: inline-block;
  margin-top: -1px;
  vertical-align: top;
}

.key-row {
  display: inline-block;
}

.label {
  font-family: 'Knockout 31 4r','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  color: #787878;
  letter-spacing: 0.025em;
  line-height: 1.2em;
}

.swatch {
  display: inline-block;
  width: 32px;
  height: 13px;
}