<%
  var months = "Jan. Feb. March April May June July Aug. Sept. Oct. Nov. Dec.".split(" ");
%>
<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="state.css">
  </head>
  <body class="standalone">
    <script>
      var here = new URL(window.location);
      document.body.classList.add(here.searchParams.get("theme"));
      if (here.searchParams.has("embedded")) {
        document.body.classList.add("embedded")
        document.body.classList.remove("standalone");
      }
    </script>

    <%= t.include("partials/_nav.html", { prefix: "../" }) %>

    <main>

      <header>
        <svg width="60" height="60" viewBox="0 0 10 10" preserveAspectRatio="none">
          <circle cx=5 cy=5 r=5 fill="#888" />
        </svg>
        <h2>2020 Primaries and Caucuses</h2>
        <h1><%= json.strings[state] %> Results</h1>
      </header>

      <%
var newestFirst = (a, b) => b.timestamp - a.timestamp;
var oldestFirst = (a, b) => a.timestamp - b.timestamp;
var displays = schedule.slice().sort(oldestFirst).map(function(race) {
  var date = new Date(race.timestamp);
  var item = {
    office: json.strings[race.office],
    date: [months[date.getMonth()], date.getDate()].join(" "),
    future: race.timestamp > grunt.data.elex.today,
    race
  }
  if (race.office != "H" && !race.parties) {
    item.parties = true;
  }
  return item;
});

var hashRace = function(race) {
  var search = new URLSearchParams();
  var fields = "date office".split(" ");
  for (var f of fields) {
    if (f in race) {
      search.set(f, race[f]);
    }
  }
  return search.toString();
}
var makeOption = (item, suffix = "") => item.future ? `disabled` : `value="#${hashRace(item.race)}${suffix}"`;
var makeLink = (item, suffix = "") => item.future ? `disabled` : `href="#${hashRace(item.race)}${suffix}"`;

var makeTag = function(race, counties = false) {
  var tags = {
    P: "president-primary",
    H: "house-primary",
    G: "governor-primary",
    S: "senate-primary"
  };
  var tag = race.element || (counties ? "county-results" : tags[race.office]);
  var isLive = race.timestamp < grunt.data.elex.today && race.timestamp > grunt.data.elex.retroactive;
  return `
<${tag}
  ${isLive ? "live" : "static"}
  src="../data/${race.filename}${counties ? "_counties" : ""}.json">
</${tag}>`;
}
      %>
      <select class="mobile-calendar">
        <% displays.forEach(function(item) { %>
          <option <%= makeOption(item) %>><%= item.office || "Run-off" %> - Dem. (<%= item.date %>)</option>
          <option <%= makeOption(item) %>><%= item.office || "Run-off" %> - GOP (<%= item.date %>)</option>
        <% }) %>
      </select>

      <nav class="race-calendar">
        <ul>
          <% displays.forEach(function(item) { %>
          <li>
            <a class="office" <%= makeLink(item) %>><%= item.office || "Run-off" %></a>
            <span class="parties">
              <a <%= makeLink(item, "&party=Dem.") %>>Dem.</a> 
              | 
              <a <%= makeLink(item, "&party=GOP") %>>GOP</a>
            </span>
            <span class="date"><%= item.date %></span>
          <% }) %>
        </ul>
      </nav>

      <p class="chatter">
        North Carolina is a presidential battleground and has two major statewide races, for governor and U.S. Senate. Democratic Gov. Roy Cooper and Republican Sen. Thom Tillis are each running for reelection. The state has 13 congressional districts. North Carolina holds semi-closed primaries, meaning voters not affiliated with a party can participate in a primary by associating as either a Democrat or Republican.
      </p>

      <%
      var modules = displays.slice().sort(newestFirst).filter(r => !r.future);

      modules.forEach(function(row, i) { %>
        <div class="module <%= i ? "hidden" : "" %>"
          data-office="<%= row.race.office %>"
          data-date="<%= row.race.date %>"
        >
          <pre><%= row.race.filename %>.json</pre>
          <%= makeTag(row.race) %>
          <% if (row.race.office != "H") { %>
          <a <%= makeLink(row, "&counties=true") %>>See county results</a>
          <% } %>
        </div>
        <% if (row.race.office != "H") { %>
          <div class="module hidden"
            data-office="<%= row.race.office %>"
            data-date="<%= row.race.date %>"
            data-counties="true"
          >
            <pre><%= makeTag(row.race, true).replace(/</g, "&lt;") %></pre>
          </div>
        <% } %>
      <% }) %>

    </main>

    <script src="state.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>

