<%
  /*
Things passed into this page:
* schedule: all possible races
* displays: menu items for each race
* state: which state this is
  */
%>
<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="state.css">
  </head>
  <body class="standalone">
    <script>
      var here = new URL(window.location);
      document.body.classList.add(here.searchParams.get("theme"));
      if (here.searchParams.has("embedded")) {
        document.body.classList.add("embedded")
        document.body.classList.remove("standalone");
      }
    </script>

    <%= t.include("partials/_nav.html", { prefix: "../" }) %>

    <main>

      <header>
        <img src="../assets/states/<%= state %>.svg" class="state-icon" alt="">
        <h2>2020 Primaries and Caucuses</h2>
        <h1><%= json.strings[state] %> Results</h1>
      </header>

      <%

var hashRace = function(race) {
  var search = new URLSearchParams();
  var fields = "date office".split(" ");
  for (var f of fields) {
    if (f in race) {
      search.set(f, race[f]);
    }
  }
  return search.toString();
}
var makeOption = (item, suffix = "") => `value="${hashRace(item.race)}${suffix}"`;
var makeLink = (item, suffix = "") => `href="#${hashRace(item.race)}${suffix}"`;

      %>
      <select class="mobile-calendar">
        <% displays.forEach(function(item) { %>
          <% if (item.parties) { %>
          <option 
            value="<%= hashRace(item.race) %>&party=Dem&counties=true"
            data-timestamp="<%= item.race.timestamp %>">
            <%= item.office %> - Dem. (<%= item.date %>)
          </option>
          <option
            value="<%= hashRace(item.race) %>&party=GOP&counties=true"
            data-timestamp="<%= item.race.timestamp %>">
            <%= item.office %> - GOP (<%= item.date %>)
          </option>
          <% } else { %>
          <option
            value="<%= hashRace(item.race) %>"
            data-timestamp="<%= item.race.timestamp %>">
            <%= item.office %> (<%= item.date %>)
          </option>
          <% } %>
        <% }) %>
      </select>

      <nav class="race-calendar">
        <ul>
          <% displays.forEach(function(item) { %>
          <li data-timestamp="<%= item.race.timestamp %>">
            <a class="office" href="#<%= hashRace(item.race) %>"><%= item.office %></a>
            <% if (item.parties) { %>
            <span class="parties">
              <a href="#<%= hashRace(item.race) %>&party=Dem&counties=true">Dem.</a> 
              | 
              <a href="#<%= hashRace(item.race,) %>&party=GOP&counties=true">GOP</a>
            </span>
            <% } %>
            <span class="date"><%= item.date %></span>
          <% }) %>
        </ul>
      </nav>

      <p class="chatter">
        <%= grunt.data.json.chatter[state] %>
      </p>

      <!-- <h3 class="latest-results">Most recent results</h3> -->

      <% displays.forEach(function(row, i) { %>

        <div class="module <%= i ? "hidden" : "" %>"
          data-office="<%= row.race.office %>"
          data-date="<%= row.race.date %>"
          tabindex="-1"
        >
          <h2><%= row.office %> - <%= row.date %></h2>
          <% var partial = row.race.caucus ? "caucus" : row.race.element ? "random" : row.race.office; %>
          <%= t.include(`statePartials/_${partial}.html`, { row }) %>

          <% if (row.race.office != "H") { %>
          <a class="show-counties" <%= makeLink(row, "&counties=true") %>>See county results</a>
          <% } %>
        </div>

        <% if (row.race.office != "H") { %>
        <div class="module hidden"
          data-office="<%= row.race.office %>"
          data-date="<%= row.race.date %>"
          data-counties="true"
          tabindex="-1"
        >
          <%= t.include("statePartials/_counties.html", { row }) %>
        </div>
        <% } %>

      <% }); %>

    </main>

    <script src="state.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>

