<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <main class="calendar">
      <ul class="schedule">
      <%
      var localize = str => json.strings[str] || str;

      var jsonFile = r => [r.state, r.office, r.date].join("_").replace(/\//g, "_");

      var groupBy = function(array, key) {
        var grouped = {};
        array.forEach(function(item) {
          var k = item[key];
          if (!grouped[k]) grouped[k] = [];
          grouped[k].push(item);
        });
        return grouped;
      };

      var byDate = groupBy(json.races, "date");
      var dates = Object.keys(byDate)
        .map(function(key) {
          var [m, d, y] = key.split("/");
          var date = new Date(y, m - 1, d);
          return { date, key }
        });
      dates.sort((a, b) => a.date - b.date);
      var months = "Jan. Feb. Mar. Apr. May June July Aug. Sep. Oct. Nov. Dec.".split(" ");
      dates.forEach(function(d) { %>
      <li> <%= months[d.date.getMonth()] %> <%= d.date.getDate() %>, 2020
        <ul>
        <%
          var races = byDate[d.key];
          var byType = groupBy(races, "office");

          Object.keys(byType).forEach(function(o) { %>
          <li><%= localize(o) %>
            <ul>

            <% byType[o].forEach(function(r) { %>
              <li> <%= localize(r.state) %>
                <results-table src="data/<%= jsonFile(r) %>.json"></results-table>
            <% }); %>

            </ul>
          <% }); %>
        </ul>
        <% }); %>

      </ul>
    </main>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
