<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <main class="calendar">
      <ul class="schedule">
      <%
      var localize = str => json.strings[str] || str;

      var jsonFile = r => [r.state, r.office, r.date].join("_").replace(/\//g, "_");

      var utils = require("../src/js/components/utils.js");
      var { parseNPRDate, formatAPDate, groupBy } = utils;

      var today = new Date();
      if (grunt.option("date")) {
        today = parseNPRDate(grunt.option("date"));
      } else {
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);
      }
      var now = today.getTime();

      json.races.forEach(r => r.timestamp = parseNPRDate(r.date).getTime());

      var byDate = groupBy(json.races, "timestamp");

      var dates = Object.keys(byDate);

      dates.forEach(function(d) { %>
      <li> <%= formatAPDate(new Date(d * 1)) %>
        <ul>
        <%
          var races = byDate[d];
          var byType = groupBy(races, "office");

          Object.keys(byType).forEach(function(o) { %>
          <li><%= localize(o) %>
            <ul>

            <% byType[o].forEach(function(r) { %>
              <li> <%= localize(r.state) %>
                <% if (r.timestamp <= now) { %>
                <results-table live refresh=5 src="data/<%= jsonFile(r) %>.json">
                </results-table>
                <% } else { %>
                Not yet
                <% } %>
            <% }); %>

            </ul>
          <% }); %>
        </ul>
        <% }); %>

      </ul>
    </main>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
