<div class="results-header">
  <h3 data-landmark="headline">Iowa Democratic Results</h3>
  <span data-landmark="reporting" class="reporting"></span>
</div>
<div data-landmark="content" class="content"></div>
<div class="metadata-row">
  <button data-landmark="moreButton" class="show-more">
    Show
    <span class="more">more</span><span class="fewer">fewer</span>
    candidates
  </button>
  <a data-landmark="resultsLink" class="full-results">See full results &rsaquo;</a>
  <div class="text">
    Source: AP (<span data-landmark="updated" class="updated"></span>)
    <span data-landmark="footnote" class="footnote"></span>
</div>
